{% extends "main.html" %}
{% load static %}
{% block content %}
<section>
   <div class="container">
      <h1>Подробно элемент</h1>
      <table class="table">
         <thead>
           <tr>
             <th scope="col">Имя</th>
             <th scope="col">Категория</th>
             <th scope="col">Текст</th>
             <th scope="col">Тэги</th>
             <th scope="col">Превью</th>
           </tr>
         </thead>
         <tbody>
             <tr>
                 <td><a class="name" href="/catalog/{{item.id}}">{{item.name}}</a></td>
                 <td>{{item.category}}</td>
                 <td>{{ item.text|safe}}</td>
                 <td>
                     {% for tag in item.tag.all %}
                         {{ tag }}
                     {% endfor %}
                 </td>
                 <td>
                   <img src="{{ item.photo.url }}" alt="Если вы это читаете, то видимо что-то пошло не так" class="catalogimg">
                 </td>
         </tbody>
       </table>
   </div>
</section>
{% endblock %}