.container{
    text-align: center;
    margin-top: 50px;
}

.navbar-nav{
    margin: auto;
}

.nav-item{
    margin-left: 50px;
}

.nav-link{
    font-size:15pt;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    color:red;
}

.catalogimg{
    width: 20%;
    height: 30%;
}

.name{
    color: black;
}

.startimg{
    position: absolute;
}

.btn-success{
    margin-top: 50px;
}

.feedback{
    margin-top: 30px;
}
