.container{
    text-align: center;
    margin-top: 50px;
}

.navbar-nav{
    margin: auto;
}

.nav-item{
    margin-left: 50px;
}

.nav-link{
    font-size:15pt;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    color:red;
}

.catalogimg{
    width: 20%;
    height: 30%;
}

.name{
    color: black;
}

.startimg{
    position: absolute;
}

.btn-success{
    margin-top: 50px;
}

.feedback{
    margin-top: 30px;
}

button.button7 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    border:none
  } 
  button.button7:hover { background: rgb(53, 167, 110); }
  button.button7:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
    border: none;
  }

.name{
    margin-left: 100px;
    position: absolute;
}

a.button8 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(218, 180, 56);
    box-shadow: 0 -3px rgb(218, 180, 56) inset;
    transition: 0.2s;
  } 
  a.button8:hover { background: rgb(133, 109, 31); }
  a.button8:active {
    background: rgb(133, 109, 31);
    box-shadow: 0 3px rgb(133, 109, 31) inset;
  }

  a.button9 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(48, 176, 214);
    box-shadow: 0 -3px rgb(48, 176, 214) inset;
    transition: 0.2s;
    border:none
  } 
  a.button9:hover { background: rgb(37, 124, 151); }
  a.button9:active {
    background: rgb(37, 124, 151);
    box-shadow: 0 3px rgb(37, 124, 151) inset;
    border: none;
  }

  a.button10 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(214, 48, 48);
    box-shadow: 0 -3px rgb(214, 48, 48) inset;
    transition: 0.2s;
    border:none
  } 
  a.button10:hover { background: rgb(153, 35, 35); }
  a.button10:active {
    background: rgb(153, 35, 35);
    box-shadow: 0 3px rgb(153, 35, 35) inset;
    border: none;
  }

  .users{
    color:black;
  }
