{% extends 'main.html' %}

{% block content %}
<section>
    <div class='container'>
        <h2>
            Login
        </h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit' class='button7'>Войти</button>
            <a href='/auth/registration/' class='button8'>Зарегестрироваться</a>
            <a href='/auth/password_reset/' class='button9'>Восстонавление пароля</a>
        </form>
    </div>
</section>
{% endblock content %}