{% extends 'main.html' %}

{% block content %}
{% if user.is_authenticated %}
    <section>
        <div class='container'>
            <h2>
                Профиль
            </h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type='submit' class='button7'>Cохранить</button>
                <a href='/auth/password_change/' class='button8'>Поменять пароль</a>
                <a href='/auth/logout/' class='button10'>Выйти</a>
                {% if messages %}
                    {% for message in messages %}
                    <p class="feedback">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </section>
{% else %}
<section>
    <div class='container'>
        <p>Вы должны быть зарегестрированными</p>
        <a href='/auth/registration/' class='button8'>Зарегестрироваться</a>
    </div>
</section>
{% endif %}
{% endblock content %}
