{% load static %}
<header>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
         <img src="{% static "img/1.png" %}" alt="Если вы это читаете, то видимо что-то пошло не так" width="50" height="40" class='startimg'>
         {% if user.is_authenticated %}
            <a href='/auth/profile/' class='name'>Привет, {{ user.username }} </a>
         {% else %}
            <a href="/auth/login/" class='name'>Войти</a>
         {% endif %}

         {% if user.is_staff %}
            <a class="name_two" href='/auth/user_list/'>Список пользователей</a>
         {% endif %}
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item">
                  {% with request.resolver_match.url_name as view_name %}
                  <a class="nav-link {% if view_name == "homepage" %} active {% endif %}" href={% url "homepage:homepage"%}>Главная</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link {% if view_name == "catalog" %} active {% endif %}" href={% url "catalog:catalog"%}>Каталог</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link {% if view_name == "about" %} active {% endif %}" href={% url "about:about"%}>О проекте</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link {% if view_name == "feedback" %} active {% endif %}" href={% url "feedback:feedback"%}>Связаться</a>
               </li>
                  {% endwith %}
               
            </ul>
         </div>
      </div>
   </nav>
</header>
