<table class="table">
    <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Категория</th>
        <th scope="col">Текст</th>
        <th scope="col">Тэги</th>
        <th scope="col">Превью</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td><a class="name" href="/catalog/{{item.id}}">{{item.name}}</a></td>
            {% ifchanged %}
              <td><b>{{item.category}}</b></td>
            {% else %}
              <td>{{item.category}}</td>
            {% endifchanged %}
            <td>{{ item.text|striptags|truncatewords:10 }}</td>
            <td>
                {% for tag in item.tag.all %}
                    {{ tag }}
                {% endfor %}
            </td>
            <td>
              <img src="{{ item.photo.url }}" alt="Если вы это читаете, то видимо что-то пошло не так" class="catalogimg">
            </td>
        {% endfor %}
    </tbody>
  </table>
  