<table class="table">
    <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Категория</th>
        <th scope="col">Текст</th>
        <th scope="col">Тэги</th>
      </tr>
    </thead>
    <tbody>
        {% for it in item %}
        <tr>
            <td>{{it.name}}</td>
            <td>{{it.category}}</td>
            <td>{{it.text|safe}}</td>
            <td>
                {% for tag in it.tag.all %}
                    {{ tag }}
                {% endfor %}
            </td>
            
        {% endfor %}
    </tbody>
  </table>